body{
background: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a{
  color: Aquamarine;
  color: 16px;
  text-align: center;
  font-family: Verdana;
}
